
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Home section start */
header
{
    width: 100%;
    min-height: auto;
    background-color: rgb(247, 246, 245);
}
/* Navigation section start */
.navbar {
    width: 100%;
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
}

.brand-title {
    
    font-size: 1.3em;
    margin: 2vh;
    transition: 2s;
}
.brand-title:hover{
    transform: translatex(40px);
    
   
}
.brand-title a{
   text-decoration: none;
   color: white;
}
.brand-title a:hover{
   color: orange;
 }
.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
     transition: 1s;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1vw;
    font-size: 1.3em;
    transition: 2s;
}

.navbar-links li:hover {
    background-color: #555;
    transform: translateY(10px);
    border-radius: 20%;
    
}
.navbar-links li a:hover {
    color: cyan;
    transform: scale(1.1) translateY(2px);
    border-radius: 20%;
}

.toggle-button {
    position: absolute;
    top: 2.5vh;
    right: 3vw;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 20px;
    height: 15px;
}

.toggle-button .bar {
    height: .6vh;
    width: 100%;
    background-color: white;
    border-radius: 1vh;
}
/* navigation  media queries starts*/
@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
        /* border: 1px solid white; */
    }

    .navbar-links ul li a {
        padding: 1vw 1.2vh;
    }
    .navbar-links li:hover {
        background-color: #656464;
        transform: translateY(5px);
        border-radius: 0%;
        
    }
    .navbar-links li a:hover {
        color:cyan;
        transform: scale(1.1) translateY(2px);
        border-radius: 0%;
    }

    .navbar-links.active {
        display: flex;
    }
}    
/* navigation  media queries ends*/

/* Navigation section end */


/* header body start */

header .header-body
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100vh;
    grid-template-areas: "l1 l2";
}
header .header-body .right-section
{
    grid-area: l1;
    /* border: 1px solid #000; */
}
header .header-body .left-section
{
    grid-area: l2;
    /* border: 1px solid #000; */
}


/* header body starts */
.right-section
{
    display: flex;
    align-items: center;   
    justify-content: center;
}
.right-section-content
{
    /* border: 1px solid #000; */
    font-family: "Poppins", sans-serif;
}
.right-section h2
{
    font-size: 2.5rem;
    color: rgb(58, 57, 57);
}
.right-section h2 .surname
{
    color: orange;
    text-decoration: none;
    transition: 2s;
    
}
.right-section h2 .surname:hover
{
    color: brown; 
}
.right-section p
{
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
}
.right-section .buttons
{
    margin-top: 20px;
}
.right-section .buttons button
{
    border-radius: 200px;
    background-color: rgb(4, 4, 126);
    transition: 2s;
}
.right-section .buttons button:hover
{
    
    background-color: rgb(70, 70, 195);
    transform: scale(1.3);   
}
.right-section .buttons .btn
{
    padding: 5px 20px;
    margin: 5px;
    font-size: 1rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sociallist{
    width: 95%;    
    margin-top: 25px;
    /* border: 1px solid #000; */
}
.sociallist ul
{
    display: flex;
    justify-content: space-between;
  list-style: none;
  
}
.sociallist ul li a
{
    text-decoration: none;  
}
.sociallist ul li a .logo
{
    width: 4vh;
    height: 4vh;
    padding: 7px;
    border-radius: 50%;
    background-color: black;
    fill: white;
    transition: 1s;
}   
.sociallist ul li a .logo:hover
{
    background-color:wheat;
    fill: black;
    transform: scale(1.3);
}
.left-section
{
    display: flex;
    align-items: center;   
    justify-content: center;
}
.left-section .images
{
    width: 60%;
    margin-top: 10px;
    height: 70%;
    border: 3px solid rgb(235, 232, 232);
    border-radius: 50%;
    transition: 2s;
}
.left-section .images img
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    
}
.left-section .images:hover
{
    transform: rotatey(180deg) ;
}
/* header body media queries starts*/
@media only screen and (max-width:840px) {
    header .header-body
{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60vh 60vh ;
    grid-template-areas: "l2"
                         "l1";
}
header .header-body .right-section
{
    grid-area: l1;
    /* border: 1px solid #000; */
}
header .header-body .left-section
{
    grid-area: l2;
    /* border: 1px solid #000; */
}  
}
/* header body media queries ends*/

/* header body ends */

/* About me section start */

.about {
    background: rgb(255, 255, 255);
  }
  .about h1
  {
    font-size: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
  }
  .about .row {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 4rem;
  }
  .about .row .image {
    text-align: center;
    flex: 1 1 35rem;
  }
  .about .row .image img {
    margin: 4rem;
    width: 30rem;
    height: auto;
    border-radius: 5%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    mix-blend-mode: luminosity;
    transition: 0.3s;
    cursor: pointer;
  }
  .about .row .image img:hover {
    mix-blend-mode: normal;
  }
  .about .row .content {
    flex: 1 1 45rem;
    padding: 3rem;
  }
  .about .row .content h3 {
    color: rgb(27, 27, 27);
    font-size: 2.5rem;
  }
  .about .row .content .tag {
    font-size: 1.4rem;
    color: #020133;
    font-weight: 600;
    margin-top: 1rem;
  }
  .about .row .content p {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    font-family: "Nunito";
    font-weight: 600;
    text-transform: none;
  }
  .about .row .content .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-family: "Nunito";
    font-weight: 600;
  }
  .about .row .content .box-container .box p {
    text-transform: none;
  }
  .about .row .content .box-container .box p span {
    color: #011aff;
  }
  .resumebtn {
    margin-top: 4rem;
  }
  .resumebtn .btn {
    padding: 1.7rem 3rem;
    border-radius: 0.5em;
    transition: 0.3s;
    color: #fff;
    background: #2506ad;
    box-shadow: 0px 5px 10px rgba(48, 68, 247, 0.6);
    font-family: "Nunito", sans-serif;
  }
  .resumebtn .btn span {
    font-weight: 600;
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }

  /* .resumebtn .btn i {
    margin-left: 0.3rem;
    font-size: 1.2rem;
    transition: 0.3s;
  } */
  .resumebtn .btn:hover {
    background: #1a047e;
  }
  .resumebtn .btn:hover i {
    transform: translateX(5px);
  }
  /* about media queries starts*/
  @media screen and (max-width: 600px) {
    .about .row .image {
      margin-top: 2rem;
    }
    .about .row .image img {
      margin: 0 auto;
      width: 80%;
      mix-blend-mode: normal;
    }
    .about .row {
      padding: 0.5rem;
      margin-bottom: 7rem;
    }
    .about .row .content {
      padding: 1rem;
    }
    .about .row .content .box-container {
      gap: 0;
    }
  }
  /* about media queries ends*/

  /* About me section end */


  /* Skills section start */

  .skills
  {
    min-height: 90vh;
    background-image: linear-gradient(45deg, #1F1C2C, #928DAB);
    margin-bottom: 100px;
    
  }
  .skills h1
  {
    font-size: 2rem;
    margin-bottom: 10px;
    text-align: center;
  }
 .container
  {
    width: 80%;
    margin: auto;
    padding: 1.2% 0;
    background-color: #1F1C2C   ;
  }
  .skills-tab{
    width: 98%;
    margin: auto;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4 ,1fr);
    text-align: center;
    justify-content: center;

  }
  .skills-tab .tab{
    /* border: 1px solid #000; */
    background-color: #746f89;
    border-radius: 10%;
    padding: 3%;
  }
  .skills-tab .tab:hover{
    box-shadow: 0px 7px 7px white;
   
  }
  .skills-tab .tab img{
    width: 70%;
    height: 65%;
    transition: 1s;
  }
  .skills-tab .tab img:hover{
    transform: scale(1.2);
  }
  .skills-tab .tab h2{
    color: rgb(12, 4, 62);
    font-size: 1.4rem;
  }
  @media screen and (max-width: 600px) {
  .skills-tab{
    grid-template-columns: repeat(2 ,1fr);
  }
}
  /* Skills section ends */

  /* Education section starts */
.education{
    min-height: 80vh;
}
.education .content{
    background: #000;
    width: 90%;
    margin: auto;


}

  /* Education section ends */


  /* project section ends */
  .project
  {
    min-height: 70vh;
    background-image: linear-gradient(45deg, #1F1C2C, #928DAB);
    margin-bottom: 100px;
    
  }
  .project h1
  {
    font-size: 2rem;
    margin-bottom: 10px;
    color: rgb(228, 228, 228);
    text-align: center;
  }
 .container
  {
    width: 80%;
    margin: auto;
    padding: 1.2% 0;
    background-color: #1F1C2C   ;
  }
  .project-tab{
    width: 80%;
    margin: auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2 ,1fr);
    text-align: center;
    justify-content: center;

  }
  .project-tab .tab{
    /* border: 1px solid #000; */
    /* background-color: #746f89; */
    border-radius: 10%;
    padding: 3%;
    align-items: center;
    justify-content: center;
  }
  .project-tab .tab:hover{
    box-shadow: 0px 7px 7px white;
   
  }
  .project-tab .tab img{
    width: 85%;
    height: 85%;
    border-radius: 10%;
    transition: 1s;
  }
  .project-tab .tab img:hover{
    transform: scale(1.1);
    /* transform: translatey(10px); */
  }
  .project-tab .tab h2{
    color: rgb(177, 169, 235);
    font-size: 1.4rem;
  }
  @media screen and (max-width: 600px) {
  .project-tab{
    grid-template-columns: repeat(1 ,1fr);
  }
}
  /* project section ends */